/* GLOBAL */

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Work Sans", sans-serif;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading h2 {
  font-size: 40px;
  color: #ff4f81;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.heading p {
  font-size: 17px;
  color: black;
  letter-spacing: 4px;
  text-transform: capitalize;
}

.heading p::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: black;
  margin: 20px auto;
}

.heading--white p {
  color: white;
}

/* HEADER */

.header__contact {
  background-color: #ff4f81;
  font-size: 14px;
}

.header__contact a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

.header__contact a:hover {
  color: black;
}

.header__right a {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: black;
  border: 1px solid black;
  color: white;
  margin-left: 0.25rem;
}

.header__right a:hover {
  background-color: #ff4f81;
  border-color: white;
  color: white;
}

/* HEADER NAVBAR */

.navInstruction a {
  color: black;
}

/* .navInstruction .navbar-brand p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
} */

.navInstruction .navbar-brand p:first-child {
  font-size: 36px;
}

.navInstruction .navbar-brand p:first-child i {
  transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child {
  font-size: 11px;
  letter-spacing: 3px;
  color: #ff4f81;
}

#navbarInstruction .nav-link {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s;
}

#navbarInstruction .nav-item:hover .nav-link {
  color: #ff4f81;
}

#navbarInstruction .nav-item {
  margin: 0 15px;
}

#navbarInstruction .nav-item::after {
  display: block;
  content: " ";
  width: 0;
  height: 2px;
  background-color: #ff4f81;
  transition: all 0.5s;
}

#navbarInstruction .nav-item:hover::after {
  width: 100%;
}

#navbarInstruction .nav-item.active .nav-link {
  color: #ff4f81;
}

#navbarInstruction .nav-item.active::after {
  width: 100%;
}

#navbarInstruction .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item {
  color: white;
  transition: all 0.5s;
}

#navbarInstruction .dropdown-item:focus,
#navbarInstruction .dropdown-item:hover {
  background-color: transparent;
  color: #ff4f81;
}

.navInstruction .navbar-toggler {
  color: #ff4f81;
  background-color: black;
  border-radius: 0;
}

/* CAROUSEL */

#carouselCyber .carousel-caption {
  /* Chỉ áp dụng với thẻ có absolute để căn giữa  */
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#carouselCyber .carousel-caption h1 {
  font-size: 52px;
}

#carouselCyber .carousel-caption p {
  letter-spacing: 4px;
  line-height: 1.8em;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 300;
}

#carouselCyber .carousel-caption button {
  color: white;
  padding: 11px 20px;
  border: 1px solid white;
  border-radius: 0;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.5s;
}

#carouselCyber .carousel-caption button:hover {
  background-color: #ff4f81;
  border-color: #ff4f81;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 11;
}

/* WELCOME */

.section {
  padding: 5rem 0;
}
.welcome__content > p {
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.8em;
  /* Đơn vị em: fontsize của thẻ hiện tại: 1em = 15px */
  color: #999;
  text-align: center;
  letter-spacing: 1px;
  padding: 1rem 0 5rem;
}

/* GRID */
.welcome__colum {
  padding: 2rem;
}

.welcome__colum i {
  font-size: 2rem;
}

.welcome__item h3 {
  color: #ff4f81;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
}

.welcome__item h4 {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0.2rem;
}

.welcome__item p {
  color: #999;
  font-size: 15px;
  line-height: 1.8em;
  letter-spacing: 1px;
  margin: 10px 0 0;
}

/* OUR STATS */

.ourStats {
  background-image: url(../image/banner2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.ourStats__content {
  text-align: center;
  color: white;
}

.ourStats__item i {
  font-size: 2.5rem;
}

.ourStats__item h3 {
  color: #ff4f81;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 30px 0 20px;
}

.ourStats__item p {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
}

/* OFFER */

.offer__colum {
  padding: 15px;
}

.offer__item {
  text-align: center;
  box-shadow: 0px 1px 8px 0px rgb(158 158 158 / 75%);
  padding: 25px 40px;
  transition: all 0.5s;
}

.offer__item:hover {
  background-color: #12ccc3;
}

.offer__item i {
  font-size: 40px;
  color: #ff4f81;
}

.offer__item h3 {
  font-size: 20px;
  color: black;
  margin: 25px 0 20px;
}

.offer__item p {
  font-size: 14px;
  margin-bottom: 16px;
  color: #6b6b6b;
  letter-spacing: 0.5px;
}

/* FEEDBACK */

.feedback {
  background-image: url(../image/banner3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.feedback__content {
  box-shadow: 0px 1px 7px #8e8e8e;
  background-color: rgba(0, 0, 0, 0.47);
  padding: 1rem;
}

.feedback__content .item {
  color: white;
  padding: 1rem;
}

.feedback__top {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.47);
  position: relative;
}

.feedback__top::after {
  content: "";
  border-top: 9px solid rgba(0, 0, 0, 0.47);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: 100%;
  left: 28%;
}

.feedback__top p {
  margin-bottom: 1rem;
}

.feedback__bottom {
  display: flex;
  justify-content: center;
  width: 55%;
  margin: 2rem auto 0;
}

/* Viết 2 class (từ cha đến con) nhằm tăng điểm ưu tiên và đè code thư viện */
.feedback__content .feedback__bottom img {
  width: 28%;
  display: inline-block;
}

.feedback__bottom .feedback__name {
  margin-left: 5px;
}

.feedback__name p:first-child {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
}

.feedback__name p:last-child {
  color: #ff4f81;
  margin: 0;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
  background-color: #ff4f81;
  opacity: 0.5;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.feedback__content .owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

/* NEWS */
.news__content .row:first-child {
  margin-bottom: 5rem;
}

.news__content img {
  border: 2px solid #dedede;
}

.news__content h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.news__content a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.news__content a:hover {
  color: #ff4f81;
}

.news__content h4 {
  font-size: 1rem;
  color: #ff4f81;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 1rem 0;
}

.news__content p {
  color: #999;
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 1.8rem;
}

/* NEWS MODAL */
#cyberModal .modal-dialog {
  max-width: 600px;
}

#cyberModal .modal-header h5 {
  font-size: 29px;
  color: #ff4f81;
  font-weight: bold;
}

#cyberModal .modal-body img {
  width: 100%;
}

#cyberModal .modal-body p {
  font-size: 14px;
  color: #777;
  line-height: 1.8em;
  padding: 20px 0;
}

/* FOOTER  */
footer {
  background-color: #141415;
}

.footer__top .footer__grid h3 {
  font-size: 24px;
  font-weight: bold;
  color: #ff4f81;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.footer__top .footer__grid p {
  color: #8b8b96;
  line-height: 2em;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  font-size: 15px;
}

.footer__link,
.footer__contact {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.footer__link i {
  color: #ff4f81;
  margin-right: 1rem;
}

.footer__link a,
.footer__contact a {
  color: #8b8b96;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-size: 15px;
}

.footer__link a:hover {
  color: white;
}

.footer__contact a:hover {
  color: white;
}

.footer__contact i {
  color: #fff;
  width: 32px;
  height: 32px;
  border: 1px solid #4b4b50;
  text-align: center;
  line-height: 32px;
  margin-right: 1rem;
}

.footer__form {
  margin-top: 3rem;
}

.footer__form label {
  color: #ff4f81;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer__form input {
  padding: 14px;
  height: auto;
  border-radius: 0;
  border: none;
  color: #888888;
  letter-spacing: 1px;
}

.footer__form button {
  padding: 12px 35px;
  background-color: #ff4f81;
  letter-spacing: 1px;
  border-radius: 0;
  color: white;
  outline: none;
  transition: all 0.5s;
}

.footer__form button:hover {
  background-color: #ec1955;
  color: white;
}

.footer__bottom {
  background-color: #0f0f10;
  padding: 1rem 0;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}

.footer__bottom p {
  margin-bottom: 0;
}

.footer__bottom a {
  color: #ff4f81;
  text-decoration: none;
}

.footer__bottom a:hover {
  color: white;
}

/* Back to top css */

.backToTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  visibility: hidden;
  opacity: 0;
}

.backToTop i {
  border: 1px solid #ff4f81;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ff4f81;
  line-height: 40px;
  text-align: center;
  font-size: 2rem;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* ================= RESPONSIVE ================ */

@media screen and (max-width: 1199.98px) {
  /* CAROULSEL */
  #carouselCyber .carousel-caption {
    top: 50%;
  }

  #carouselCyber .carousel-caption h1 {
    font-size: 4vw;
  }

  #carouselCyber .carousel-caption p {
    font-size: 1.6vw;
    margin-bottom: 0.5em;
  }

  #carouselCyber .carousel-caption button {
    font-size: 1.5vw;
    padding: 0.8em 1em;
  }
}

@media screen and (max-width: 991.98px) {
  /*  HEADER */
  .navInstruction .navbar-brand p:first-child {
    /* 3% cua chieu ngang trinh duyet */
    font-size: 3vw;
  }

  .navInstruction .navbar-brand p:last-child {
    /* 1.5% cua chieu ngang trinh duyet */
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 767.98px) {
  /*  HEADER */
  #navbarInstruction .navbar-nav {
    background-color: #eee;
    text-align: center;
  }

  #navbarInstruction .dropdown-menu {
    background-color: #e0e1e2;
    border-color: #e0e1e2;
    text-align: center;
  }

  #navbarInstruction .dropdown-item {
    color: black;
  }

  /* Back To Top */
  .cd-top--is-visible {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 575.98px) {
  /* GLOBAL */
  .heading p {
    padding: 0 15px;
  }

  .header__left a {
    display: block;
  }

  /* FOOTER */
  .footer__form input,.footer__form button{
    padding: 10px;
    border: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 415px) {
  #carouselCyber {
    height: 250px;
  }

  #carouselCyber .carousel-inner, #carouselCyber .carousel-item, #carouselCyber img{
    height: 100%;
  }

  #carouselCyber img{
    object-fit: cover;
  }
}

@media screen and (max-width:376px){
  .feedback__bottom{
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header__right {
    width: 35%;
    text-align: center;
  }

  .header__right a {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #navbarInstruction .nav-item {
    margin: 0;
    padding: 0 2px;
  }

  #navbarInstruction .nav-link {
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (min-width:576px) and (max-width:992px){
  .feedback__bottom{
    width: 85%;
  }
}


